/* Common Style */
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Poppins', sans-serif;
}
a{
    text-decoration: none;
}
/* Navigation part style */
header{
    text-align: center;
}
nav {
    background-color: #2D25A0;
    padding: 15px;
    display: flex;
    padding-top: 40px;
}

nav a {
    color: #fff;
    margin-right: 36px;
    font-size: 16px;
}
.home{
    margin-left: 135px;
}

.icon {
    background-color: #E02C6D;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: auto;
}
.icon .log-out{
    margin-right: 8px;
    padding-left: 24px;
}

/* banner part style */

.banner-part{
    background-color: #2D25A0;
    padding-top: 50px;
    padding-bottom: 86px;
}
.container{
    width: 100%;
    display: flex;
    
}
.half-width{
    width: 50%;
}
.banner-details{
    margin-left: 156px;
    margin-top: 65px;
    margin-right: 97px;
}
.banner-details h1{
    font-size: 64px;
    font-weight: 700;
    line-height: 80px;
    color: #FFFFFF;
}
.banner-details .watch-live{
    color: #FFFFFF;
    padding: 10px 24px;
    background-color:  #E02C6D;
}
.banner-details .watch-live:hover {
    background-color:  orange;
    border-radius: 25px;
    transition: 2s;
}

.banner-details i{
    padding-left: 10px;
}
.banner-pic{
    margin-right: 141px;
}
.banner-pic img{
    width: 100%;
}
.banner-pic:hover img{
    transform: scale(1.5) skew(-25deg);
    transition: transform 3s;
}
/* Players Part style */

#player-part{
    background: #FFFFFF;
}
#player-part .container{
    justify-content: space-around;
}

.players{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 27px;
    margin-top: 70px;
} 
.player{
    width: 330px;
    height: 474px;
    background: #FFFFFF;
    box-shadow: 2px 2px 10px;
    border-image-slice: 1;
}
.player-img , .player-details{
    margin: 15px;
}
.player-img img{
    width: 100%;
}
.player-details h3{
    font-size: 28px;
    font-weight: 700;
    line-height: 40px;
    color: #18191F;
    margin-bottom: 10px;
}
.player-details p{
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    color: #6C6C6C
}
/* Highlights part style */
.highligths{
    margin-top: 165px;
}
.highligths h1{
    font-size: 47px;
    font-weight: 700;
    color: #000;
    margin-right: 40px;
}
.highligths p{
    color: #6C6C6C;
    line-height: 28px;
    margin-bottom: 24px;
}
.highligths .banner-pic{
    margin-right: 100px;
}
/* map section */
.map-section{
    padding-top: 50px;
    padding-bottom: 50px;
}
.map-section .left-iframe{
    margin-left: 150px;
}
.map-section .right-iframe{
    margin-left: 50px;
}
/* Footer part */
footer{
    margin-top: 150px;
    margin-bottom: 60px;
    text-align: center;
}
footer img{
    Width : 483.87px;
    Height : 110px;
}

.social-icon{
    margin-left: 22px;
    margin-top: 20px;
    margin-bottom: 20px;
}
footer a{
    width: 17px;
    height: 17px;
    color: #969BAB;
    margin-right: 21px;
    background-color: #E5E5E6;
    padding: 10px;
    border-radius: 50%;
}
footer span{
    font-size: 18px;
}
/* Media Queries */
@media only screen and (max-width:688px) {
    header{
        display: none;
    }
    /* banner part */
    .banner-details{
        margin-left: 35px;
        margin-top: 0px;
        margin-right: 7px;
    }
    .banner-details h1{
        font-size: 36px;
        font-weight: 400;
        line-height: 54px;
        margin-top: 40px;
        margin-bottom: 10px;
    }
    .banner-details .watch-live{
        color: #FFFFFF;
        padding: 10px 24px;
        border-radius: 10px;
    }
    .banner-pic{
        margin-right: 0px;
    }
    /* Players part  */
    
    .players{
        grid-template-columns: repeat(1, 1fr);
    } 
    .player{
        text-align: center;
    }
    /* Highlights part style */
.highligths{
    margin-top: 165px;
}
.highligths h1{
    font-size: 30px;
    font-weight: 400;
    line-height: 32px;
    margin-top: 18px;
}
.highligths p{
    line-height: 20px;
    margin-bottom: 20px;
}
.highligths .watch-live {
    padding: 5px 10px;
    border-radius: 6px;
}
.highligths .banner-pic{
    margin-top: 50px;
    margin-left: 30px;
    margin-right: 23px;
}
/* map section */

.map-section .left-iframe{
    margin-left: 10px;
    width: 300px;
}
.map-section .right-iframe{
    margin-left: 20px;
    width: 300px;
}

}


  /* Tablet view */
  
@media only screen and (min-width:688px) and (max-width:992px){

    /* Navigation part style */
    header{
        display: none;
    }
    
    /* banner part style */
    
    .banner-part{
        padding-top: 45px;
        padding-bottom: 45px;
    }
    
    .banner-details{
        margin-left: 80px;
        margin-top: 35px;
        margin-right: 30px;
    }
    .banner-details h1{
        font-size: 40px;
        font-weight: 500;
        line-height: 43px;
        margin-bottom: 15px;
    }
    .banner-details .watch-live{
        padding: 5px 15px;
        border-radius: 5px;
    }
    .banner-pic{
        margin-right: 20px;
    }
    /* Players Part style */
    
    .players{
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 20px;
        grid-row-gap: 30px
    } 
    .player{
        width: 315px;
    }
    
    /* Highlights part style */

    .highligths{
        margin-top: 100px;
    }
    .highligths .container{
        display: block;
    }
    .highligths .banner-details{
        padding-bottom: 50px;
        margin: auto;
    }
    .highligths h1{
        font-size: 35px;
    }
    .highligths .banner-pic{
        margin-top: 65px;
        margin: auto;
    }
    /* Footer part */
    footer{
        margin-top: 60px;
    }
    /* map section */
.map-section{
    padding-top: 50px;
    padding-bottom: 50px;
}
.map-section .left-iframe{
    margin-left: 30px;
    width: 350px;
}
.map-section .right-iframe{
    margin-left: 30px;
    width: 350px;
}
    
}
